@using STS.Web.ViewModels.Admin;
@model IEnumerable<RoleViewModel>;

<article class="roles-wrapper">
    @foreach (var role in Model)
    {
        <p>@role.Name </p>

    }

    <form method="post" asp-area="Administration" asp-controller="Administration" asp-action="CreateRole">
        <label class="create-dep-label" for="roleName">Add new role:</label>
        <div>
            <input class="create-dep-input" type="text" id="roleName" name="roleName" required>
            <button class="create-dep-btn" type="submit">Create</button>
        </div>
    </form>
</article>