@using STS.Web.ViewModels.Admin;
@model IEnumerable<RoleViewModel>;

@foreach (var role in Model)
{
    <p>@role.Id -> @role.Name </p>

}

<form method="post" asp-area="Administration" asp-controller="Administration" asp-action="CreateRole">
    <label for="roleName">Add new role:</label>
    <input type="text" id="roleName" name="roleName" required>
    <button type="submit">Create</button>
</form>