@using STS.Web.ViewModels.Tasks;
@model ManagerTaskSearchViewModel;

<section class="search-task-section">
    <form method="post" asp-controller="Tasks" asp-action="Management" class="manager-search-form">
        <section class="p-select">
            <select class="form-control-sm t-employee-select"
                    for="EmployeeId"
                    name="EmployeeId"
                    asp-items="Model.Employees.Select(t => new SelectListItem(t.UserName, t.Id))">
                <option value="" selected="selected">Select employee</option>
            </select>
        </section>
        <section class="checkbox-btn-sec">
            <div class="switch-box">
                <label class="switch">
                    <input id="isActive" type="checkbox" name="isActive" value="true">
                    <span class="slider round"></span>
                </label>
                <label class="checkbox-label" for="isActive"> Only active</label>
            </div> 
        </section>
         <section class="search-input-btn-sec">
            <input name="keyword"
                   type="text"
                   value="@Model.Keyword"
                   class="search-input-field"
                   placeholder="Search..."
            >
            <button class="tasks-search-btn" type="submit">Go</button>
        </section>
    </form>
</section>
