.admin-wrapper,
.ticket-stat-wrapper,
.dep-count,
.department-stat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    justify-content: center;
}

.admin-user-section {
    display: flex;
    flex-direction: column;
}

    .admin-user-section a:hover {
        text-decoration: none;
        color: #39A6FF;
    }

.admin-stat-section,
.dep-count,
.admin-user-section,
.admin-dep-section,
.admin-roles-section {
    background-color: black;
    border-radius: 8px;
}

.ticket-stat-wrapper,
.admin-user-section,
.admin-dep-section,
.admin-roles-section {
    padding: 15px;
}

.dep-count {
    justify-content: space-between;
}

.ticket-stat-wrapper.stat-status {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1%;
}

.stat-status,
.departments-wrapper,
.roles-wrapper {
    padding: 15px;
    background-color: #30363D;
    border-radius: 8px;
}

.dep-count,
.departments-wrapper {
    background-color: #30363D;
    color: #C2CAD2;
}

.t-stat-title,
.admin-greeting,
.user-title,
.dep-title,
.roles-wrapper {
    text-align: center;
    color: #C2CAD2;
}

.t-stat-title {
    margin-top: 10px;
    margin-bottom: 0;
}

.admin-greeting,
.create-user-btn,
.dep-title,
.t-stat-title {
    margin-bottom: 15px;
}

.depatments-table {
    display: table;
    margin-bottom: 25px;
}

.department-stat-row,
.dep-table-head {
    display: table-row;
}

.department-stat-row div,
.dep-table-head div {
    display: table-cell;
    padding: 10px;
}

.dep-name {
    border-right: 2px solid black;
}

.dep-counts {
    padding: 8px 12px 8px 11px;
}

.dep-table-head,
.create-dep-label {
    color: #8B949E;
}

.create-dep-input {
    background-color: black;
    color: #C2CAD2;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-color: #30363D;
    padding: 6px;
}

.create-dep-btn {
    border-radius: 10px;
    padding: 6px 20px;
    color: #C2CAD2;
    background-color: black;
    border-color: #30363D;
    font-size: 18px;
}

.roles-wrapper form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
}

.create-user-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 20px;
    color: #C2CAD2;
    padding: 20px;
    margin: 30px auto 80px auto;
    border: 1px solid #39A6FF;
    border-radius: 8px;
    background-color: black;
    max-width: 400px;
}

.user-select-group div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.inputs-div,
.inputs-div div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.inputs-div {
    width: 100%;
    margin: auto;
}

.inputs-div input {
    color: #C2CAD2;
    border-radius: 6px;
    background-color: #30363D;
    height: 32px;
}

.inputs-div input:focus {
    color: #C2CAD2;
}

.user-select-group div select {
    background-color: #30363D;
    color: #C2CAD2;
    border-radius: 6px;
    font-size: 18px;
    border: 1px solid #39A6FF;
    padding: 5px;
}

.users-table {
    color: #8B949E;
    font-weight: bold;
}

.users-table .user-row:nth-child(odd) {
    background: #30363D;
}

.user-row {
    color: #C2CAD2;
}

.users-talbe-header div {
    border-bottom: 2px solid #58A6FF;
}

.admin-users {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    margin: auto;
}

.user-search-section {
    margin-top: 50px;
}
.user-search-section form {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    margin: auto;
}

.user-edit-btn {
    margin-right: 10px;
}
