.status,
.priority {
    border-radius: 6px;
    text-align: center;
    font-weight: bold;
    padding: 1px 4px;
    color: white;
}

.priority.urgent {
    background-color: orangered;
}

.status.solved,
.status.closed {
    background-color: #7E7060;
}

.priority.low {
    background-color: #027675;
}

.status.open {
    background-color: forestgreen;
}

.status.onhold {
    background-color: cornflowerblue;
}

.status.pending {
    background-color: #928629;
}

.status.inprogress {
    background-color: #541743;
}

.priority.medium {
    background-color: #F75431;
}

.priority.high {
    background-color: #C10037;
}

.priority.urgent {
    background-color: #8B0C3C;
}
