.ticket-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.ticket-wrapper {
    flex-shrink: 1;
    flex-basis: 60%;
}

.t-title-section,
.ticket-details-title,
.ticket-footer,
.ticket-actions,
.ticket-actions div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.ticket-actions {
    margin-bottom: 15px;
}

.ticket-footer,
.ticket-actions {
    justify-content: space-between;
}

.t-status-select,
.t-department-select,
.t-employee-select,
.assign-to-me-btn,
.t-delete-btn {
    background-color: #30363D;
    color: #C2CAD2;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 18px;
}

.t-status-select,
.t-department-select,
.assign-to-me-btn {
    margin-right: 10px
}

.assign-to-me-btn:hover,
.t-delete-btn:hover {
    color: #58A6FF;
    text-decoration: none;
    cursor: pointer;
}

.username,
.date {
    color: #58A6FF;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .ticket-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }
}

/*.ticket,
.ticket-wrapper,
.comment-wrapper,
.t-title-section-edited {
    width: 100%;
}
.ticket,
.ticket-details-title {
    display: flex;
    flex-direction: row;
    align-items: start;
}

.ticket-details {
    min-width: 80%;
}

.ticket-actions {
    min-width: 15%;
    padding-left: 10px;
    border-left: 1px solid white;
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
    align-content: space-between;
}

.tile-status-priority {
    min-width: 20%;
}

.ticket-title {
    margin-left: 20px;
    margin-right: 20px;
}

.ticket-body {
    margin-right: 20px;
}

.ticket,
.t-comment {
    border: 1px solid white;
    padding: 20px;
    border-radius: 6px;
}

.t-comment {
    margin-top: 5px;
}

.comment-actions {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid grey;
}



.comment-wrapper,
.comment-dialog {
    background-color: #262626;
    color: white;
    padding: 10px;
}

.comment-ta {
    background-color: black;
    color: white;
}

.comment-ta:focus,
.title-edit-input:focus,
.content-edit-ta:focus {
    background-color: dimgrey;
    color: white;
}

.c-del-btn {
    background-color: #262626; 
    border-radius: 6px; 
    border-color: lightgoldenrodyellow;
}
.c-del-btn i {
    color: white;
}

.title-edit-input,
.content-edit-ta {
    background-color: black;
    border-color: lightgoldenrodyellow;
    color: white;
}*/
