.ticket-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px;
}

.tickets-page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.tickets-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    width: 80%;
}

/*nav*/
.tickets-nav {
    border-radius: 8px;
    background-color: #30363D;
}

.tickets-nav ul {
    margin:0;
    padding: 5px;
    padding-top: 15px;
    padding-left: 15px;
    list-style-type: none;
}

.tickets-nav ul li {
    margin-bottom: 15px;
}

.tickets-nav ul li a {
    font-size: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tickets-nav ul li a:hover,
.tickets-table-row:hover,
.tasks-vc-row:hover {
    text-decoration: none;
    color: #39A6FF;
}

.t-count,
.dep-counts {
    margin-left: 10px;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    border: 2px solid #666;
    text-align: center;
    font: 14px Arial, sans-serif;
}

/*table*/
.tickets-table-row,
.tickets-table-header {
    display: flex;
    flex-direction: row;
}

.table-t-title {
    flex-shrink: 1;
    flex-grow: 1;
}

.tickets-table {
    width: 100%;
}

.table-priority,
.table-assigned-to,
.table-date{
    width: 1px;
    white-space: nowrap;
}

.table-ticket-number, 
.table-task-number {
    width: 45px;
}

.table-status {
    width: 110px;
}

.table-t-title {
    white-space: pre-wrap;
}

.tickets-table,
.task-vc-table,
.users-table {
    display: table;
    border-collapse: collapse;
}

.tickets-table-row,
.tickets-table-header,
.tasks-vc-row,
.users-talbe-header,
.user-row {
    display: table-row;
}

.tickets-table-header div,
.tickets-table-row div,
.tasks-vc-row div,
.user-row div,
.users-talbe-header div{
    display: table-cell;
    padding: 8px;
}

.tickets-table-header {
    font-weight: bold;
    text-align: left;
    color: #8B949E;
}

.tickets-table .tickets-table-row:nth-child(odd) {
    background: #30363D;
}

.page-nav-list {
    margin-bottom: 20px;
}

.page-nav-list li a {
    color: #C2CAD2;    
}

p .no-task {
    top: 70px;
    position: relative;
    width: 150px;
    white-space: nowrap;
    -ms-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    border-radius: 6px;
    background-color: gray;
    padding: 6px 10px;
}

p.daily-tasks {
    font-size: 18px;
    color: #8B949E;
}

.search-input-field,
.email,
.password,
.old-pass,
.new-pass,
.repeat-pass {
    background-color: #30363D;
    color: #C2CAD2;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-color: #30363D;
    padding: 6px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    body {
        width: 100%;
    }

    .tickets-wrapper {
        width: 100%;
    }
    .tickets-page-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        gap: 20px;
    }

    .tickets-table,
    .tickets-table-header,
    .table-body,
    .tickets-table-header div,
    .tickets-table-row div,
    .tickets-table-row {
        display: block;
    }
      
    .tickets-table-header div{
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .tickets-table-row {
        border: 1px solid #30363D;
    }

    .tickets-table-row div {
        border: none;
        position: relative;
        padding-left: 120px;
    }

    .tickets-table-row div:before {
        position: absolute;     
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .tickets-table-row div:nth-of-type(1):before {
        content: "#";
    }
    
    .tickets-table-row div:nth-of-type(2):before {
        content: "Status";
    }
    
    .tickets-table-row div:nth-of-type(3):before {
        content: "Priority";
    }
    
    .tickets-table-row div:nth-of-type(4):before {
        content: "Title";
    }
    
    .tickets-table-row div:nth-of-type(5):before {
        content: "Crated on";
    }
    
    .tickets-table-row div:nth-of-type(6):before {
        content: "Assigned to";
    }         	
}

.ticket-search {
    margin: 0px 0px 20px 0px;
}

.show-create-btn,
.t-comment-btn,
.c-btn,
.cancel-btn,
.cancel-c-btn,
.create-task-btn,
.create-user-btn,
.users-btn,
.login-btn,
.change-pass-btn {
    border-radius: 10px;
    padding: 6px 20px;
    color: #C2CAD2;
    background-color: #30363D;
    border-color: #30363D;
    font-size: 18px;
}

.search-btn, 
.tasks-search-btn {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-color: #13233A;
    padding: 4px 10px;
    color: #C2CAD2;
    background-color: #30363D;
    font-size: 18px;
    height: 36px;
}
