.ticket-container,
.comment-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
}

.comment-actions {
    flex-wrap: nowrap;
}

.ticket-wrapper {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 1%;
}

.t-title-section,
.ticket-details-title,
.ticket-footer,
.ticket-actions,
.ticket-actions div,
.task-s-p-d {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.ticket-details,
.t-comment,
.task-comments-wrapper,
.task-details,
.task-info {
    padding: 15px;
    padding-bottom: 0;
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: #30363D;
    color: #C2CAD2;
}

.task-details {
    background-color: black;
    padding: 15px;
}

.task-info {
    margin-top: 10px;
}

.ticket-actions {
    margin-bottom: 15px;
}

.ticket-title {
    width: 100%;
    flex-grow: 1;
    flex-shrink: 1;
}

.t-title,
.t-title p {
    margin-bottom: 0;
}

.ticket-footer,
.ticket-actions,
.comment-actions {
    justify-content: space-between;
}

.t-status-select,
.t-department-select,
.t-employee-select,
.assign-to-me-btn,
.t-delete-btn {
    background-color: #30363D;
    color: #C2CAD2;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 18px;
}

.t-status-select,
.t-department-select,
.assign-to-me-btn {
    margin-right: 10px
}

.assign-to-me-btn:hover,
.t-delete-btn:hover {
    color: #58A6FF;
    text-decoration: none;
    cursor: pointer;
}

.username,
.date {
    color: #58A6FF;
}

.ticket-footer div p {
    margin-bottom: 10px;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .ticket-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
    }

    .t-comment {
        padding-bottom: 15px;
    }

    .show-create-btn {
        margin-bottom: 10px;
    }
}

.comment-actions {
    padding-top: 5px;
    border-top: 2px solid #0D1117;
    height: 42px;
}

.t-comment-btn-section {
    display: flex;
    justify-content: right;
}

.edit-t-title,
.edit-t-content {
    margin-left: 10px;
}

.t-title-section {
    color: #C2CAD2;
    width: 80%;
}

.t-comment-btn {
    margin-bottom: 25px;
}

.form-control.title-edit-input,
.form-control.content-edit-ta {
    background-color: #0D1117;
    color: #C2CAD2;
    border-color: #30363D;
}

.err-msg {
    color: red;
}

.form-control.content-edit-ta {
    margin: 20px 0;
}

.ticket-content {
    margin-top: 10px;
    margin-bottom: 20px;
}

.t-title-section-edited{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80%;
}

.form-control.title-edit-input {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    margin-bottom: 10px;
}

.task-manager.username.comment {
    margin-bottom: 0;
}

.task-manager.username {
    padding-bottom: 10px;
}