@using STS.Web.ViewModels.Admin;
@model IEnumerable<DepartmentStatisticViewModel>;

<article class="departments-wrapper">
    <section class="depatments-table">
        <section class="dep-table-head">
            <div class="dep-name">Name</div>
            <div class="">Emplyees</div>
            <div class="">Active Tickets</div>
            <div class="">Active Tasks</div>
        </section>

        @foreach (var department in Model)
        {
            <section class="department-stat-row">
                <div class="dep-name">@department.Name</div>
                <div>
                    <span class="dep-counts">@department.EmployeesCount</span>
                </div>
                <div>
                    <span class="dep-counts">@department.ActiveTicketsCount</span>
                </div>
                <div><span class="dep-counts">@department.ActiveTasksCount</span></div>
            </section>
        }
    </section>

    <form method="post" asp-area="Administration" asp-controller="Administration" asp-action="CreateDepartment">
        <label class="create-dep-label" for="departmentName">New department:</label>
        <input class="create-dep-input" type="text" id="departmentName" name="departmentName" required>
        <button class="create-dep-btn" type="submit">Create</button>
    </form>
</article>
