@using STS.Web.ViewModels.Admin;
@model IEnumerable<DepartmentStatisticViewModel>;

@foreach (var department in Model)
{
    <p>@department.Name -> @department.ActiveTicketsCount -> @department.EmployeesCount</p>
    <p>Tasks: @department.ActiveTasksCount</p>

}

<form method="post" asp-area="Administration" asp-controller="Administration" asp-action="CreateDepartment">
    <label for="departmentName">Add new department:</label>
    <input type="text" id="departmentName" name="departmentName" required>
    <button type="submit">Create</button>
</form>
