@using STS.Web.ViewModels.Identity;

@model LoginInputModel;

@{
    ViewData["Title"] = "Home Page";
    string errMsg = null;
    var state = ViewData.ModelState.FirstOrDefault(x => x.Key.Equals("LoginAttempt"));

    if (state.Key != null)
    {
        errMsg = state.Value.Errors
            .FirstOrDefault()
            .ErrorMessage;
    }
}

<section class="home-wrapper">
    <section class="text-center">
        <h1>Welcome to STS Ticket System</h1>      
    </section>

    <section class="login-form-section">
         <p>Please login to see the tickets and your daily tasks</p>
        <form id="account" class="login-form" method="post" asp-controller="Home" asp-action="Index">
            <div class="d-mail">
                <label asp-for="Email">Email or Username</label>
                <input asp-for="Email" class="email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="d-password">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <span class="text-danger">@errMsg</span>
            <div class="form-group">
                <button class="login-btn" type="submit">Log in</button>
            </div>
        </form>
    </section>
</section>