@model Dictionary<string, Dictionary<string, int>>;

<div class="ticket-stat-wrapper">
    @if (Model.Count > 0)
    {
        @foreach (var (status, kvp) in Model.OrderByDescending(x => x.Value.Count()))
        {
            <section class="stat-status">
                <div>
                    <p class="status @status.Replace(" ", "").ToLower()">@status</p>
                </div>

                @foreach (var (department, count) in kvp)
                {
                    <div class="dep-count">
                        <p class="dep-stat">@department: </p>
                        <p class="t-count">@count</p>
                    </div>
                }
            </section>
        }
    }
    else
    {
        <p>No tickets currently available.</p>
    }
</div>