@{
    this.ViewData["Title"] = "Admin panel";
}

<h3 class="admin-greeting">Welcome to Admin panel</h3>

<section class="admin-wrapper">
    <article class="admin-stat-section">
        <h5 class="t-stat-title">Tickets statistic</h5>
        <vc:tickets-statistic></vc:tickets-statistic>
    </article>
    <div class="admin-users-row">
        <article class="admin-dep-article">
            <h5 class="dep-title">Departments</h5>
            <vc:departments></vc:departments>
        </article>
        <article class="admin-roles-section">
            <h5 class="t-stat-title">Roles</h5>
            <vc:roles></vc:roles>
        </article>
        <article class="admin-user-section">
            <h5 class="user-title">Users</h5>
            <a class="create-user-btn" asp-controller="Administration" asp-action="CreateUser">
                Create user
            </a>
            <a class="users-btn" asp-controller="Administration" asp-action="Users">
                Users Explorer
            </a>
        </article>
    </div>
</section>
