<h1>Welcome to Admin panel</h1>

<article>
    <section>
        <h3>Tickets statistic</h3>
        <vc:tickets-statistic></vc:tickets-statistic>
    </section>
    
    <br>
    <br>

     <section>
        <h3>Tasts statistic</h3>

        @*task vc*@

    </section>
    
    <br>
    <br>
    
    <section>
        <h3>Departmenst</h3>
        <vc:departments></vc:departments>
    </section>

    <br>
    <br>

    <section>
        <h3>Roles</h3>
        <vc:roles></vc:roles>
    </section>

    <br>
    <br>

    <section>
        <h3>Search for an user by username, email, department or full name</h3>
        <section>
            <label for="search">Search for user</label>
            <input type="text" name="" search"">
        </section>
        <a>Create user</a>
    </section>
</article>
