<h1>Welcome to Admin panel</h1>

<article>
    <section>
        <h3>Tickets statistic</h3>
        <vc:tickets-statistic></vc:tickets-statistic>
    </section>
    
    <br>
    <br>
    
    <section>
        <h3>Departmenst</h3>
        <vc:departments></vc:departments>
    </section>

    <br>
    <br>

    <section>
        <h3>Roles</h3>
        <vc:roles></vc:roles>
    </section>

    <br>
    <br>

    <section>
        <h3>Search for an user by username, email, department or full name</h3>

        <a asp-area="Administartion" asp-controller="Administration" asp-action="CreateUser">Create user</a>
        <br>

         <a asp-area="Administartion" asp-controller="Administration" asp-action="EditUser" asp-route-id="422e95e2-1708-477b-ac56-376a7f3f329e">Edit user</a>

        <br>
        <a asp-area="Administartion" asp-controller="Administration" asp-action="Users">Search for users</a>

    </section>
</article>
