@model ErrorViewModel

@{
    ViewData["Title"] = "Error";
}

<section class="err-wrapper">
    <div class="error">
        <img class="excl-mark" src="~/img/excl-mark.png" />
        
    </div>
    <div>
         <h3 style="font-size: 90px;">Error</h3>
        <h4>Oops. Something Went Wrong</h4>
        <p>@Model.ErrorMessage</p>
        <p>Please go back and try again.</p>
    </div>
</section>