@using STS.Web.ViewModels.Tickets
@using static STS.Common.GlobalConstants;
@model TicketInputModel

<article class="create-form-wrapper">
    <form asp-controller="Tickets" asp-action="Create" class="col-md-12 offser-md-8">
        <section class="select-group">
            <div class="p-select">
                <label asp-for="PriorityId">Priority</label>
                <select 
                    class="form-control-sm" 
                    asp-for="PriorityId" 
                    asp-items="Model.Priorities.Select(t => new SelectListItem(t.Name, t.Id.ToString()))"
                    required
                >
                    <option value="" selected="selected" >Please select</option>
                </select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="DepartmentId">Department</label>
                <select 
                    class="form-control-sm" 
                    asp-for="DepartmentId" 
                    asp-items="Model.Departments.Select(t => new SelectListItem(t.Name, t.Id.ToString()))"
                    required
                >
                    <option value="" selected="selected" >Please select</option>
                </select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
        </section>
        <div class="form-group t-tile">
            <label asp-for="Title">Title</label>
            <input asp-for="Title" class="form-control" required >
            <span asp-validation-for="Title" class="text-danger title-err"></span>
        </div>
        <div class="form-group t-description">
            <label asp-for="Content">Description</label>
            <textarea asp-for="Content" class="form-control" rows="10" required></textarea>
            <span asp-validation-for="Content" class="text-danger description-err"></span>
        </div>
        <div class="c-form-btns">
            <button type="submit" class="c-btn">Create</button>
            <button class="cancel-btn" type="button">Cancel</button>
        </div>
    </form>
</article>