@{
    string keyWords = this.ViewData["Keyword"] as string;
}

<section class="tasks-side-bar-section">
    <section class="search-task-section">
        <form method="post" asp-controller="Tasks" asp-action="Index">
            <section class="search-input-btn-sec">
                <input name="keyword"
                       type="text"
                       value="@(keyWords == null ? null : keyWords)"
                       class="search-input-field"
                       placeholder="Search..." 
                />
                 <button type="submit" class="tasks-search-btn">Go</button>
            </section>
            <section class="checkbox-btn-sec tasks">
                <div class="switch-box">
                    <label class="switch">
                        <input id="isActive" type="checkbox" name="isActive" value="true">
                        <span class="slider round"></span>
                    </label>
                    <label class="checkbox-label" for="isActive"> Only active</label>
                </div>
               
            </section>
        </form>
    </section>

    <vc:tasks-side-bar is-manager=false tasks-count=TasksSideBarCount></vc:tasks-side-bar>

</section>
